header, p {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    vertical-align: baseline;
}
html, body, #root, .content {
    height: 100%;
}

.content {        
    font-weight: bold;
    color: #e9e9e9;
    font-size: 26px;
    display: flex;
    flex-direction: column;
}
header {
    /* font-size: 3.8rem; */
    background-color: #0d6efd;
    padding: 0.4rem 0.9rem;
    /* height: 6%; */
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
header span {
    display: flex;
}
main {    
    display: flex;
    flex-direction: column;
    align-items: stretch;    
}
main.view-mode {
    height: 80%;    
}
main .book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .book-item {
    /* background-color: aquamarine;     */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 12px;
    padding: 8px 10px;
}
main .book-item img {
    width: 80%;    
}
main .book-item p {
    margin-top: 12px;
    font-size: 24px;
    color: black;
}
main.view-mode .book {
    display: flex;
    justify-content: center;    
    height: 100%;
    /* background-color: #0d6efd; */
}
main.view-mode .book img {
    width: 98%;
    
}