header, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.content {        
    font-weight: bold;
    color: #c0c0c0;
    font-size: 2.5rem;
}
header {
    font-size: 3.8rem;
    background-color: #0d6efd;
    padding: 1.5rem;
}
main {    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main .book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .book-item {
    background-color: aquamarine;    
}