header, p {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    vertical-align: baseline;
}

.content {        
    font-weight: bold;
    color: #c0c0c0;
    font-size: 26px;
}
header {
    /* font-size: 3.8rem; */
    background-color: #0d6efd;
    padding: 1.0rem 0.9rem;
}
main {    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main .book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .book-item {
    background-color: aquamarine;    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 12px;
    padding: 8px 10px;
}
main .book-item img {
    width: 80%;    
}
main .book-item p {
    margin-top: 12px;
    font-size: 24px;
    color: black;
}